In [22]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
import pandas as pd
import quant_tools as quant

In [37]:
df = pd.read_csv('data/Portfolios_Formed_on_ME_monthly_EW.csv', index_col=0, header=0, na_values=-99.99, parse_dates=True)
df = df[['Lo 10', 'Hi 10']]
df.index = pd.to_datetime(df.index, format='%Y%m')
df.index = df.index.to_period('M')
df = df/100

In [38]:
# Returns
df.head()

          Lo 10   Hi 10
1926-07 -0.0145  0.0329
1926-08  0.0512  0.0370
1926-09  0.0093  0.0067
1926-10 -0.0484 -0.0243
1926-11 -0.0078  0.0270

In [43]:
quant.get_max_drawdown_from_returns(df)

          Date  Maximum Drawdown
Lo 10  1932-05         -0.833001
Hi 10  1932-05         -0.840038