In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import quant_tools as quant

In [6]:
df = pd.read_csv('data/Portfolios_Formed_on_ME_monthly_EW.csv', index_col=0, header=0, na_values=-99.99, parse_dates=True)
df = df[['Lo 20', 'Hi 20']]
df.index = pd.to_datetime(df.index, format='%Y%m')
df.index = df.index.to_period('M')
df = df/100

In [7]:
# Returns
df.head()

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316

In [9]:
# What was the Annualized Return of the Lo 20 & Hi 20 portfolios over the entire period?
quant.get_annualized_return_from_returns(df) * 100

Lo 20    15.197701
Hi 20     9.849021
dtype: float64

In [10]:
# What was the Annualized Volatility of the Lo 20 & Hi 20 portfolios over the entire period? 
quant.get_annualized_volatility_from_returns(df) * 100

Lo 20    33.670128
Hi 20    19.511604
dtype: float64

In [13]:
# What was the Annualized Return of the Lo 20 & Hi 20 portfolios over the period 1999 - 2015 (both inclusive)? 
quant.get_annualized_return_from_returns(df["1999":"2015"]) * 100

Lo 20    11.442634
Hi 20     6.286512
dtype: float64

In [14]:
# What was the Annualized Volatility of the Lo 20 & Hi 20 portfolios over the period 1999 - 2015 (both inclusive)? 
quant.get_annualized_volatility_from_returns(df["1999":"2015"]) * 100

Lo 20    22.889447
Hi 20    17.271332
dtype: float64

In [17]:
# What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the SmallCap (Lo 20) & LargeCap (Hi 20) portfolios?
# At the end of which month over the period 1999-2015 did that maximum drawdown on the SmallCap (Lo 20) & LargeCap (Hi 20) portfolios occur? 
quant.get_max_drawdown_from_returns(df["1999":"2015"])

          Date  Maximum Drawdown
Lo 20  2009-02         -0.624809
Hi 20  2009-02         -0.552735